.content {
  --link-rgb: 0, 0, 0;
  --link-opacity: 0.4;
  --link-hover-opacity: 1;
}

.content:where(.dark, .dark *) {
  --link-rgb: 255, 255, 255;
}

.content a:not(:where(.not-prose, .not-prose *)) {
  color: rgb(var(--link-rgb));
  text-decoration: underline;
  text-decoration-color: rgba(var(--link-rgb), var(--link-opacity));
  -webkit-text-decoration-color: rgba(var(--link-rgb), var(--link-opacity));
  transition: text-decoration-color 160ms ease, color 160ms ease;
}

.content a:not(:where(.not-prose, .not-prose *)):is(:hover, :active) {
  color: rgb(var(--link-rgb));
  text-decoration-color: rgba(var(--link-rgb), var(--link-hover-opacity));
  -webkit-text-decoration-color: rgba(var(--link-rgb), var(--link-hover-opacity));
}