/** Custom link style **/
.content{
  a,
  a:visited {
      color: #ffffff;
      text-decoration: underline;
      text-decoration-color: rgba(255,255,255,0.4);
      -webkit-text-decoration-color: rgba(255,255,255,0.4);
  }
  
  a:hover,
  a:active {
      color: #ffffff;
      text-decoration: underline;
      text-decoration-color: rgba(255,255,255,1);
      -webkit-text-decoration-color: rgba(255,255,255,1);
  }
}


/* Reset link styling inside hextra-cards to avoid global 'a' styles */
.hextra-cards a,
.hextra-cards a:visited {
  color: inherit;
  text-decoration: none;
  text-decoration-color: initial;
  -webkit-text-decoration-color: initial;
}

.hextra-cards a:hover,
.hextra-cards a:active {
  color: inherit;
  text-decoration: none;
  text-decoration-color: initial;
  -webkit-text-decoration-color: initial;
}
/** Custom dark background color **/
